/* About us */
.about-container {
  display: flex;
}

.about-list {
  display: none;

  @media screen and (min-width:768px) {
    display: flex;
  } 
}

.about-container .title {
  @media screen and (max-width:767px) {
    width: 330px;
    margin-bottom: 20px;

    font-size: 28px;
  }
  
}

.about-item {
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0;
}

.about-wrapper {
  width: 500px;
  margin-left: auto;
}

.about-descr {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt--mode-light);
}
