.menu-btn {
    display: block;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: transparent;
    outline: transparent;

    &__icon {
        width: 44px;
        height: 44px;
    
        &-open {
            opacity: 1;
            fill: #ffffff;
        }
    
        &-close {
            opacity: 0;
        }
    }
}

