// Social icons
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: #ffffff;
    color: var(--secondary-txt--mode-light);

    border-radius: 50%;

    transition: color var(--fast-anim);
}

.socials-link:hover,
.socials-link:focus {
    color: var(--checkbox-accent);
}

.social-icon {
    fill: currentColor;
}

.social-links-list {
    &::before {
        content: "";
        display: block;
        width: 60px;
        height: 1px;
        margin-right: 40px;

        background-color: var(--secondary-txt--mode-light);
    }
}

.social-links-item {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.social-links-item-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: var(--secondary-txt--mode-light);
    transform: color var(--fast-anim);

    &:hover,
    &:focus {
        color: var(--checkbox-accent);
    }
}